
Unity/Library/*

Unity/Temp/*

Unity/ProjectSettings/*

Server/objs/*

Server/bin/sbin/nginx

Server/pcre-8.36/.libs/libpcre.a

Server/bin/logs/error.log

Server/bin/sbin/nginx.old

Server/pcre-8.36/config.log

Server/pcre-8.36/config.log

Server/build

UnityBinding/Library/*

UnityBinding/Assets/SublimeSocketAsset/*


Server/pcre-8.36/.deps/*
